.add-form{
    box-shadow: none;
}
.add-form .ant-row{
    padding: 10px 0;
}
.add-form .css-dev-only-do-not-override-xu9wm8{
    margin-bottom: 0;
}
.wapper{
    justify-content: center;
    display: flex;
}