.book-wapper{
    width: 30em;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 0 10px;
    margin: 14px 0;
}
.bool-col{
    justify-content: space-evenly;
    display: flex;
    flex-direction: column-reverse;
}